{% extends "layout_login.html" %}

{% block title %}
写真投稿
{% endblock %}

{% block contents %}
<div class="box">
  <form action="/upload/tryboth" method="POST"
    enctype="multipart/form-data"
    class="pure-form pure-form-aligned">
    <legend>写真ファイルを選んでください。</legend>
    <div class="pure-control-group">
      <label for="upfile">JPEGファイルを選択:</label>
      <input type="file" name="upphotofile" id="upfile" required>
    </div>
    <div class="pure-control-group">
      <legend>音楽ファイルを選んでください。</legend>
<div class="pure-control-group">
  <label for="upmusicfile">MP3ファイルを選択:</label>
  <input type="file" name="upmusicfile" id="upmusicfile">
</div>
</div>

<!-- <div class="pure-control-group">
  <legend>yputubeURLを貼ってください</legend>
<div class="pure-control-group">
<label for="upmusicfile">URL:</label>
 <input type="url" name="upyoutubeurl" id="upyoutubeurl"> -->
<!-- </div> -->
</div>

<br>
      <label for="album">題名を入力してください</label>
      <input type="text" name = "album" id = "album" required>
      <br>
      <br>  
      <label for="description">説明文を入力してください</label>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">
      アップロード</button>
    </div>
  </form>
</div>




{% endblock %}























